* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Poppins', sans-serif;
  font-weight: 400;
  width: 100vw;
  height: 100vh;
  background-image: linear-gradient(to right, #bb77ff, #ff82e6);
}

.follow {
  text-align: center;
  color: aliceblue;
  margin: 40px 0;
}

.outer-con {
  width: 700px;
  height: 500px;
  position: absolute;
  left: 50%;
  bottom: 50%;
  transform: translate(-50%, 50%);
  text-align: center;
}

.inner-con {
  width: 220px;
  height: 350px;
  position: relative;
  margin: 75px 240px;
  border-radius: 20px;
  overflow: hidden;
}

.slider {
  display: inline-flex;
  transition: all 1s;
}

.slider img {
  width: 100px;
  border-radius: 50%;
  margin-top: 40px;
}

.slider .card1,
.card2,
.card3 {
  width: 220px;
  height: 350px;
  background-color: #202a33;
  border-radius: 20px;
  text-align: center;
}

.slider h1 {
  font-size: 15px;
  text-transform: capitalize;
  color: aliceblue;
  margin: 5px 0;
}

.slider i {
  display: inline-block;
  margin: 13px 10px;
  color: aliceblue;
  cursor: pointer;
  font-size: 14px;
}

.slider i:nth-child(1) {
  background-image: linear-gradient(to right, #5188fd, #49c5ff);
  padding: 12px 15px;
  border-radius: 50%;
}

.slider i:nth-child(2) {
  background-image: linear-gradient(to right, #cc00ff, #ff49b3);
  padding: 12px 15px;
  border-radius: 50%;
}

.slider i:nth-child(3) {
  background-image: linear-gradient(to right, #8c00ff, #ff55b8);
  padding: 12px 15px;
  border-radius: 50%;
}

.icons {
  margin-bottom: 12px;
}

.slider a {
  padding: 7px 60px;
  font-size: 12px;
  font-weight: 600;
  background-color: #fff;
  color: #000;
  border-radius: 30px;
  text-transform: capitalize;
}

.btns {
  position: absolute;
  left: 50%;
  bottom: 10%;
  transform: translate(-50%, 50%)
}

.btns button {
  border: 2px solid aliceblue;
  width: 12px;
  height: 12px;
  outline: none;
  border-radius: 50%;
  background-color: transparent;
  cursor: pointer;
  margin: 0 6px;
}

.btns button:nth-child(1) {
  background-color: aliceblue;
}